{% extends 'home/base.html' %}

{% block content %}
    <div class="container mt-2">
        <h4 class="mx-3" style="color:#3F72AF;">Device Details</h4>
        <hr class="mx-3">
        <div class="container px-3">
            <div class="row">
                <div class="col-md-6">
                    <form action="{% url 'view-update-device' device.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Device Name</label>
                            <input type="text" class="form-control" id="name" name="name" value="{{device.name}}" required>
                        </div>
                        <div class="form-group">
                            <label for="serial_number">Serial Number</label>
                            <input type="text" class="form-control" id="serial_number" name="serial_number" value="{{device.serial_number}}">
                        </div>
                        <div class="form-group">
                            <label for="mac_address">MAC Address</label>
                            <input type="text" class="form-control" id="mac_address" name="mac_address"  value="{{device.mac_address}}">
                        </div>
                        <div class="form-group">
                            <label for="quantity">Quantity</label>
                            <input type="number" class="form-control" id="quantity" name="quantity" value="{{device.quantity}}"> 
                        </div>
                        <div class="form-group">
                            <label for="units">Units</label>
                            <input type="text" class="form-control" id="units" name="units" required value="{{device.units}}">
                        </div>
                        <div class="form-group">
                            <label for="price_per_unit">Price Per Unit</label>
                            <input type="number" class="form-control" id="price_per_unit" name="price_per_unit" required value="{{device.price_per_unit}}">
                        </div>
                        <div class="form-group">
                            <label for="device_type">Device Type</label>

                        <select class="form-select" id="device_type" name="device_type">
                            <option value="{{device.device_type}}">{{device.device_type}}</option>
                            <option value="Cable">Cable</option>
                            <option value="ONT Single">ONT Single</option>
                            <option value="ONT Dual">ONT Dual</option>
                            <option value="Router Single">Router Single</option>
                            <option value="Router Dual">Router Dual</option>
                            <option value="Switch">Switch</option>
                            <option value="Other">Other</option>
                        </select>
                        </div>
                        <div class="form-group">
                            <label for="in_stock">In Stock</label>
                            {% if not device.in_stock %}
                                <input type="checkbox" id="in_stock" name="in_stock">
                            {% else %}
                                <input type="checkbox" id="in_stock" name="in_stock" checked>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="hsn_code">HSN Code</label>
                            <input type="text" class="form-control" id="hsn_code" name="hsn_code" value="{{device.hsn_code}}" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" name="description" required>
                                {{device.description}}
                            </textarea>
                        </div>
                        <div class="form-group mt-2">
                            <button type="submit" class="dark-button">Create Device</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="row w-75">

                        {% for device in device_groups %}
                        <div class="row stats">
                            <p>{{ device.total_quantity }} </p>
                            <h6>{{device.device_type}}</h6>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
