{% extends 'home/base.html' %}


    <div class="container mt-2">
        <h4 class="mx-3" style="color:#3F72AF;">Customer Details</h4>
        <hr class="mx-3">
        <div class="container px-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="container">
                        <h4>Client Details</h4>
                        <table class="table">
                            <tr>
                                <td>Name</td>
                                <td>{{client.user.username}}
                                    <small>{{client.customer_id}}</small>
                                </td> 
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>{{client.phone}}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{client.user.email}}</td>
                            </tr>
                            <tr>
                                <td>Addhar</td>
                                <td>{{client.addhar_number}}</td>
                            </tr>
                            <tr>
                                <td>Pan Number</td>
                                <td>{{client.pan_number}}</td>
                            </tr>
                            <tr>
                                <td>Date Joined</td>
                                <td>{{client.date_joined}}</td>
                            </tr>
                        </table>
                    </div>

                    
                </div>
            </div>  
    </div>


{% block content %}
<style>
    .device-li {
        cursor: pointer;
        margin-top: 6px;
        margin-bottom: 6px;

    }
    .device-li:hover {
        background-color: rgb(255, 131, 131);
        border: 1px solid red;
        transition: 0.2s ease-in-out;
    }
</style>
<div class="container mt-3">

    <h4 class="mx-3" style="color:#3F72AF;">Customer Details</h4>
    <hr class="mx-3">
    <div class="container px-3">
        <div class="row">
            <div class="col-md-6">
                <h5>Basic Details</h5>
                <form action="{% url 'client-details' client.id %}" method ="post">
                    {% csrf_token %}    
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{client.user.username}}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="name">Email</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{client.user.email}}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="name">Phone Number</label>
                        <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{client.phone}}" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Addhar Number</label>
                        <input type="text" class="form-control" id="addhar_number" name="addhar_number" value="{{client.addhar_number}}" >
                    </div>
                    <div class="form-group">
                        <label for="name">Pan Number</label>
                        <input type="text" class="form-control" id="pan_number" name="pan_number" value="{{client.pan_number}}" >
                    </div>
                    <h5 class="mt-3">Address Information</h5>
                    <div class="form-group">
                        <label for="name">Address</label>
                        <input type="text" class="form-control" id="address" name="address" value="{{client.address}}">
                    </div>
                    <div class="form-group">
                        <label for="name">City</label>
                        <input type="text" class="form-control" id="city" name="city" value="{{client.city}}">
                    </div>
                    <div class="form-group">
                        <label for="name">State</label>
                        <input type="text" class="form-control" id="state" name="state" value="Punjab" >
                    </div>
                    <div class="form-group">
                        <label for="name">Pincode</label>
                        <input type="text" class="form-control" id="pincode" name="pincode" value="{{client.zip_code}}">
                    </div>
            
            </div>
            <div class="col-md-6">
                <h5 >Connection Information</h5>
                    <div class="form-group">
                        <label for="name">Plan Type</label>
                        <input type="text" class="form-control" id="plan-type" name="plan_type" value="{{client.get_additional_data.plan_type}}">
                    </div>
                    <div class="form-group">
                        <label for="name">ISP Name</label>
                        <input type="text" class="form-control" id="isp" name="isp_name" value="{{client.get_additional_data.isp_name}}">
                    </div>
                    <div class="form-group">
                        <label for="name">Install Amount</label>
                        <input type="text" class="form-control" id="install_amount" name="install_amount" value="{{client.payments.install_amount}}">
                    </div>
                    <div class="form-group">
                        <label for="name">Bill Amount</label>
                        <input type="text" class="form-control" id="bill_amount" name="bill_amount" value="{{client.payments.bill_amount}}">
                    </div>
                    <div class="form-group">
                        <label for="name">Payment Recieved</label>
                        <input type="text" class="form-control" id="payment_recieved" name="payment_recieved" value="{{client.payments.payment_recieved}}">
                    </div>
                    <div class="form-group">
                        <label for="name">Cable Price</label>
                        <input type="text" class="form-control" id="cable_length" name="cable_length" value="{{client.payments.cable_amount}}" >
                    </div>
                <button type="submit" class="dark-button mt-3">Update Details</button>
            </form>
            <br>
            <br>
            <a href="{% url 'configure-devices' client.customer_id %}">
                <button class="btn btn-primary px-3">Device Configuration</button>
            </a>
            </div>
        </div>
    </div>
</div>







{% endblock %}