{% extends 'home/base.html' %}

{% block content %}

<div class="container mt-3">
    <h4 class="mx-3" style="color:#3F72AF;">Device Configuration</h4>
    <div class="bg-white py-3 px-3 border-bottom">
        <div class="d-flex justify-content-between">
            <div>
            <h5>{{customer.user.username}} <small>({{customer.customer_id}})</small></h5>
                Phone Number: <b>{{customer.phone}}</b>
            </div>
            <div>
                <h5 class="text-success">Recieved Payment <b>Rs.{{customer.payments.payment_recieved}}</b></h5>
                <h5 class="text-danger">Balance <b>Rs.{{customer.payments.balance}}</b></h5>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% if customer.provider_type != "Camera Connection"  %}
                <h5 class="mt-3">ISP Devices</h5>
                <form action="{% url 'add-connected-device' customer.customer_id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <select class="form-select" name="device" id="">
                        {% for device in isp_devices %}
                            <option value="{{device.id}}">{{device.name}} - Rs. {{device.price_per_unit}}</option>
                        {% endfor %}
                    </select>    
                </div>
                <div class="form-group mt-2">
                    <input type="text" class="form-control" placeholder="IP Address" name="ip">
                </div>
                <div class="form-group mt-2">
                    <input type="text" class="form-control" placeholder="Mac Address" name="mac">
                </div>
                <div class="form-group mt-2">
                    <button class="btn btn-primary">Add <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                </div>
            </form>
                
                
                {% endif %}
            </div>
            <div class="col-md-6">
                {% if customer.provider_type != "ISP Connection"  %}

                <h5 class="mt-3">Camera Devices</h5>
                <form action="{% url 'add-connected-device' customer.customer_id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <select class="form-select" name="device" id="">
                        {% for device in camera_devices %}
                            <option value="{{device.id}}">{{device.name}} - Rs. {{device.price_per_unit}}</option>
                        {% endfor %}
                    </select>    
                    <div class="form-group mt-2">
                        <input type="text" class="form-control" placeholder="Serial Number" name="ip">
                    </div>
                    <input type="hidden" name="mac" value="0">

                </div>
                <div class="form-group mt-2">
                    <button class="btn btn-primary">Add <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                </div>
            </form>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {% if customer.provider_type != "Camera Connection"  %}
                <h5 class="mt-3">ISP Cables</h5>
                <form action="{% url 'add-update-cable' customer.customer_id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <select class="form-select" name="cable_type" id="">
                        {% for device in isp_cables %}
                            <option value="{{device.id}}">{{device.name}} - Rs. {{device.price_per_unit}}</option>
                        {% endfor %}
                    </select>    
                </div>
                <div class="form-group mt-2">
                    <input type="text" class="form-control" placeholder="Length of Cable" name="cable_length">
                </div>
                <div class="form-group mt-2">
                    <button class="btn btn-success">Add <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                </div>
            </form>
                
                
                {% endif %}
            </div>
            <div class="col-md-6">
                {% if customer.provider_type != "ISP Connection"  %}

                <h5 class="mt-3">Camera Cables</h5>
                <form action="{% url 'add-update-cable' customer.customer_id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <select class="form-select" name="cable_type" id="">
                            {% for device in camera_cables %}
                                <option value="{{device.id}}">{{device.name}} - Rs. {{device.price_per_unit}}</option>
                            {% endfor %}
                        </select>    
                    </div>
                    <div class="form-group mt-2">
                        <input type="text" class="form-control" placeholder="Length of Cable" name="cable_length">
                    </div>
                    <div class="form-group mt-2">
                        <button class="btn btn-success">Add <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
        
        
    </div>
    <hr class="hr">
    <div class="container">
        <h4>Connected Devices </h4>
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Device Name</th>
                    <th>Serial Number</th>
                    <th>MAC Address</th>
                    <th>Provider Type</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for device in customer.devices.all %}
                    <tr>
                        <td>{{device.device.name}}</td>
                        <td>{{device.serial_number}}</td>
                        <td>{{device.mac_address}}</td>
                        <td>{{device.device.provider_type}}</td>
                        <td>{{device.device.price_per_unit}}</td>
                        <td>
                            <a href="{% url 'view-update-device' device.id %}"><button class="btn btn-primary">View</button></a>
                            <a href="{% url 'remove-connected-device' customer.customer_id device.id %}"><button class="btn btn-danger">Delete</button></a>
                        </td>
                    </tr>
                {% endfor %}
        </table>
    </div>
    {% if customer.is_active %}
    <button class="btn btn-success px-4" style="border-radius: 20px;" disabled>Account Activated</button></a>
    {% else %}
    <a href="{% url 'activate-account' customer.customer_id %}"><button class="btn btn-success px-4" style="border-radius: 20px;">Activate Customer Account</button></a>
    {% endif %}

</div>



{% endblock %}
